body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator-container {
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

#display {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #eee;
}

.button-grid button:nth-child(1),
.button-grid button:nth-child(5),
.button-grid button:nth-child(9),
.button-grid button:nth-child(13) {
    background-color: #d7d7d7;
}

.button-grid button:nth-child(17) {
    background-color: #b8b8b8;
}
